{% extends "memos/base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <form class="form-card" method="post" >
        {% csrf_token %}
        <label class="form-card-title" for="detalhes">Memória - Retornando a sua última mensagem</label>
        <textarea class="autoresize" id="detalhes" name="detalhes" placeholder="Digite o memo..."></textarea>
        <input class="btn" type="submit"/>
    </form>

    <form class="form-card">
    <ul>
    <li class="card-title">{{memo}}</li>
    </ul>
    </form>
</main>
{% endblock %}